# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
.Rproj.user
# raw data zip files
nids-w1-2008-v5.2-20140213-stata12.zip
nids-w2-2010-2011-v2.2-20140213-stata12.zip
nids-w3-2012-v1.2-20140213-stata12.zip
nids-w1-2008-v5.2-20140213-spss.zip
nids-w2-2010-2011-v2.2-20140213-spss.zip
nids-w3-2012-v1.2-20140213-spss.zip
# unzipped raw data
stata12
spss
# transformed data
imported.RData
transformed.RData
transformed.Child.W1.RData
transformed.Child.W2.RData
transformed.Child.W3.RData
Child.Panel.RData
Child.Wide.RData